.sectionb {
    background-image: url(../public/images/Rectangle\ 1170.svg);
    background-repeat: no-repeat;

}

.sectionc {
    background-image: url(../public/images/Rectangle\ 1170\(1\).svg);
    background-repeat: no-repeat;
}

.mission {
    background-image: url(../public/images/Frame\ 608.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.vision {
    background-image: url(../public/images/Frame\ 609.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.contact {
    background-image: url(../public/images/Frame\ 1278.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aboutframe {
    background-image: url(../public//images//Rectangle\ 1168.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}