.sectionb {
    background-image: url(../public/images/Rectangle\ 1170.svg);
    background-repeat: no-repeat;

}

.sectionc {
    background-image: url(../public/images/Rectangle\ 1170\(1\).svg);
    background-repeat: no-repeat;
}